<ul class="nav nav-tabs">
    <li role="presentation"><a href="/V101">
        <button class="btn btn-default" type="button" ng-click="setVAT('V101')">
            <span class="glyphicon glyphicon-pencil"> 신고서 I</span>
        </button>
    </a>
    </li>
    <li role="presentation" class="active"><a href="/V101_2">
        <button class="btn btn-success" type="button" ng-click="setVAT('V101_2')">
            <span class="glyphicon glyphicon-pencil"> 신고서 II</span>
        </button>
    </a></li>
</ul>
<div class="container">
        <div class="page-header text-center">
            <p class="text-primary lead">일반과세자 부가가치세 신고서 II</p>
        </div>
        <div class="row">
            <table class="table table-bordered">
                <tbody>
                    <style>
                        td {text-align:center;}
                    </style>
                    <tr>
                        <td rowspan="9">예정신고 누락분<br>명  세</td>
                        <td rowspan="6">(7) 매 출</td>
                        <td colspan="3">구  분</td>
                        <td>금  액</td>
                        <td>세  율</td>
                        <td>세  액</td>
                    </tr>
                    <tr>
                        <td rowspan="2">과 세</td>
                        <td>세 금 계 산 서</td>
                        <td>(32)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>10/100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td>기 타</td>
                        <td>(33)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>10/100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">과 세</td>
                        <td>영 세 율</td>
                        <td>(34)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>10/100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td>기 타</td>
                        <td>(35)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>10/100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">합  계</td>
                        <td>(36)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">(12) 매 입</td>
                        <td colspan="2">세 금 계 산 서</td>
                        <td>(37)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">그 밖의 공제매입세액</td>
                        <td>(38)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">합 계</td>
                        <td>(39)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                <tr>
                    <td rowspan="10">(14)<br>그 밖의 공제<br>매입세액 명세</td>
                    <td colspan="4">구 분</td>
                    <td>금 액</td>
                    <td>세 율</td>
                    <td>세 액</td>
                </tr>
                <tr>
                    <td rowspan="2" colspan="2">신용카드매출전표등<br>수령명세서 제출분</td>
                    <td>일반매입</td>
                    <td>(40)</td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                </tr>
                <tr>
                    <td>고정자산매입</td>
                    <td>(41)</td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                </tr>
                <tr>
                    <td colspan="3">의제매입세액</td>
                    <td>(42)</td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                    <td>뒤쪽참조</td>
                    <td>
                        <input type="text" class="form-control input-sm">
                    </td>
                </tr>
                    <tr>
                        <td colspan="3">재환용폐자원등 매입세액</td>
                        <td>(43)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">과세사업전환 매입세액</td>
                        <td>(44)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">재고매입세액</td>
                        <td>(45)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">변제대손세액</td>
                        <td>(46)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">외국인 관광객에 대한 환급세액</td>
                        <td>(47)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">합  계</td>
                        <td>(48)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5">(15)<br>공제받지 못할<br>매입세액 명세</td>
                        <td colspan="4">구 분</td>
                        <td>금 액</td>
                        <td>세 율</td>
                        <td>세 액</td>
                    </tr>
                    <tr>
                        <td colspan="3">공제받지 못할 매입세액</td>
                        <td>(49)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">공통매입세액 면세사업등분</td>
                        <td>(50)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">대손처분받은 세액</td>
                        <td>(51)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">합   계</td>
                        <td>(52)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="7">(16)<br>공제받지 못할<br>매입세액 명세</td>
                        <td colspan="4">구 분</td>
                        <td>금 액</td>
                        <td>세 율</td>
                        <td>세 액</td>
                    </tr>
                    <tr>
                        <td colspan="3">전자신고 세액 공제</td>
                        <td>(53)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">전자세금계산서 발급세액 공제</td>
                        <td>(54)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">택시 운송사업자 경감세액</td>
                        <td>(55)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">현금영수증사업자 세액공제</td>
                        <td>(56)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">기  타</td>
                        <td>(57)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">합  계</td>
                        <td>(58)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="20">(25)<br>가산세<br>명세</td>
                        <td colspan="4">구 분</td>
                        <td>금 액</td>
                        <td>세 율</td>
                        <td>세 액</td>
                    </tr>
                    <tr>
                        <td colspan="3">사업자미등록등</td>
                        <td>(59)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="3">세금계산서</td>
                        <td colspan="2">지연발급 등</td>
                        <td>(60)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">지연수취</td>
                        <td>(61)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">미발급 등</td>
                        <td>(62)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>2 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">전자세금계산서<br>발급명세 전송</td>
                        <td colspan="2">지연전송</td>
                        <td>(63)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 1,000</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">미전송</td>
                        <td>(64)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>3 / 1,000</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">세금계산서<br>합계표</td>
                        <td colspan="2">제출 불성실</td>
                        <td>(65)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">지연제출</td>
                        <td>(66)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>5 / 1,000</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="4">신고 불성실</td>
                        <td colspan="2">무신고(일반)</td>
                        <td>(67)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">무신고(부당)</td>
                        <td>(68)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">과소.초과환급신고(일반)</td>
                        <td>(69)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">과소.초과환급신고(부당)</td>
                        <td>(69)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">납부불성실</td>
                        <td>(71)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">영세율 과세표준신고 불성실</td>
                        <td>(72)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>5 / 1,000</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">현금매출명세서 불성실</td>
                        <td>(73)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">부동산임대송금가액명세서 불성실</td>
                        <td>(74)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>1 / 100</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan =2>매입자<br>납부특례</td>
                        <td colspan="2">거래계좌 미사용</td>
                        <td>(75)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">거래계좌 지연입금</td>
                        <td>(76)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>뒤쪽참조</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">합 계</td>
                        <td>(77)</td>
                        <td bgcolor=#a9a9a9></td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="5">면세사업<br>수입금액</td>
                        <td colspan="2">업 태</td>
                        <td colspan="3">종 목</td>
                        <td>코드번호</td>
                        <td>금 액</td>
                    </tr>
                    <tr>
                        <td>(78)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td colspan="3">
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td>(79)</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td colspan="3">
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td bgcolor=#a9a9a9></td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td>(80)</td>
                        <td>수입금액 제외</td>
                        <td colspan="3">
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            <input type="text" class="form-control input-sm">
                        </td>
                        <td>(81) 합 계</td>
                        <td>
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td rowspan="2">계산서 발급<br>및 수취 명세
                        </td>
                        <td>(82)</td>
                        <td colspan="2">계산서 발급금액</td>
                        <td colspan="4">
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                    <tr>
                        <td>(83)</td>
                        <td colspan="2">계산서 수취금액</td>
                        <td colspan="4">
                            <input type="text" class="form-control input-sm">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>