<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-1">
            <a href="/">
                <button class="btn btn-success" type="button">
                    <span class="glyphicon glyphicon-home"></span>
                </button>
            </a>
        </div>
        <div class="col-xs-11">
            <a ng-click="saveDocument()">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-floppy-saved"> 저장하기</span>
                </button>
            </a>
            <a ng-click="createDocument()">
                <button class="btn btn-warning" type="button">
                    <span class="glyphicon glyphicon-download-alt"> 자료불러오기</span>
                </button>
            </a>
            <a target="_self" ng-click="getExcel()">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-stats"> 엑셀내보내기</span>
                </button>
            </a>
        </div>
        <div class="col-xs-11">
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="/V101">
                    <button class="btn btn-success" type="button" ng-click="setVAT('V101')">
                        <span class="glyphicon glyphicon-pencil"> 신고서 I</span>
                    </button>
                    </a>
                </li>
                <li role="presentation"><a href="/V101_2">
                    <button class="btn btn-default" type="button" ng-click="setVAT('V101_2')">
                        <span class="glyphicon glyphicon-pencil"> 신고서 II</span>
                    </button>
                </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container">
    <div class="page-header text-center">
        <p class="text-primary lead">일반과세자 부가가치세 신고서 I</p>
    </div>
    <div ng-class="alert_class[status]" ng-bind="alertmessage"></div>
<!--   <div class="row">
        <table class="table">
            <tbody>
            <style>
                td {text-align:center;}
            </style>
            <tr>
                <td rowspan="4">사업자</td>
                <td>상 호<br>(법인명)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>성 명<br>(대표자명)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>사업자<br>등록번호</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td rowspan="2">법인<br>등록번호</td>
                <td rowspan="2">
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>전화번호</td>
                <td>사업장</td>
                <td>주소지</td>
                <td>휴대전화</td>
            </tr>
            <tr>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>사업장 주소</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
                <td>전자우편 주소</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg." ui-number-mask="0"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="text-center">
        <p class="text-primary lead">① 신       고       내       용</p>
    </div>
//-->
    <div class="row">
        <table class="table">
            <thead>
            <style>
                th {text-align : center;}
            </style>
            <tr>
                <th colspan="4">구  분</th>
                <th>금 액</th>
                <th>세 율</th>
                <th>세 액</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td rowspan="9">과세<br>표준<br>및<br>매출<br>세액</td>
                <td rowspan="4">과세<br>
                <td>세금계산서 발급분</td>
                <td>(1)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_TAX_INVOICED_AMT" ui-number-mask="0"/>
                </td>
                <td>10/100</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_TAX_INVOICED_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>매입자발행 세금계산서</td>
                <td>(2)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_VEND_TAX_INV_AMT" ui-number-mask="0"/>
                </td>
                <td>10/100</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_VEND_TAX_INV_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>신용카드.현금영수증 발행분</td>
                <td>(3)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_CR_CASH_AMT" ui-number-mask="0"/>
                </td>
                <td>10/100</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_CR_CASH_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>기타(정규영수증 외 매출분)</td>
                <td>(4)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_ETC_AMT" ui-number-mask="0"/>
                </td>
                <td>10/100</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_ETC_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td rowspan="2">영 세 율</td>
                <td>세금계산서 발급분</td>
                <td>(5)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_ZR_TAX_INV_AMT" ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_ZR_TAX_INV_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>기   타</td>
                <td>(6)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_ZR_ETC_AMT" ui-number-mask="0"/>
                </td>
                <td>0/100</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_ZR_ETC_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">예정신고 누락분</td>
                <td>(7)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_PREARG_SIN_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>0/100</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_PREARG_SIN_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">대손세액 가감</td>
                <td>(8)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_BADDEPT_AMT" ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.GS_BADDEPT_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">합 계</td>
                <td>(9)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.GS_STD_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>(가)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.GS_STD_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td rowspan="7">매입<br>세액</td>
                <td rowspan="2">세금계산서<br></td>
                <td>일반매입</td>
                <td>(10)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.PR_TAX_INV_GEN_AMT" ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.PR_TAX_INV_GEN_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>고정자산매입</td>
                <td>(11)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.PR_TAX_INV_FIXED_AMT" ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.PR_TAX_INV_FIXED_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">예정신고 누락분</td>
                <td>(12)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_INV_MIN_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_INV_MIN_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">매입자발행 세금계산서</td>
                <td>(13)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.PR_TAX_INVOICED_AMT" ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.PR_TAX_INVOICED_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">그 밖의 공제매입세액</td>
                <td>(14)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_ETC_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_ETC_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">합         계 (10)+(11)+(12)+(13)+(14)</td>
                <td>(15)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_TOT_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_TOT_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">공제받지못할 매입세액</td>
                <td>(16)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_BADGONJE_TOT_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_BADGONJE_TOT_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">차    감   계 (15) - (16)</td>
                <td>(17)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_CALC_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>(나)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.PR_TAX_CALC_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="5">납부(환급)세액  [매출세액 (가) - 매입세액(나)]</td>
                <td>(다)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.NAPBU_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td rowspan="3">경감.<br>공제<br>세액</td>
                <td colspan="2">그 밖의 경감 . 공제세액</td>
                <td>(18)</td>
                <td bgcolor=#a9a9a9></td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.REDU_ETC_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">신용카드매출전표등 발행공제 등</td>
                <td>(19)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.REDU_CREDIT_AMT" ui-number-mask="0"/>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.REDU_CREDIT_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">합  계</td>
                <td>(20)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.REDU_TOT_AMT" readonly ui-number-mask="0"/>
                </td>
                <td>(라)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.REDU_TOT_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">예정신고 미환급 세액</td>
                <td>(21)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.REFUND_AMT" ui-number-mask="0"/>
                </td>
                <td>(마)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.REFUND_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">예정고지세액</td>
                <td>(22)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.NOTICED_AMT" ui-number-mask="0"/>
                </td>
                <td>(바)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.NOTICED_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">사업양수자의 대리납부 기납부세액</td>
                <td>(23)</td>
                <td bgcolor=#a9a9a9></td>
                <td>(사)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.REPORTED_DAE_TAXED_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">매입자 납부특례 기납부세액</td>
                <td>(24)</td>
                <td bgcolor=#a9a9a9></td>
                <td>(아)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.REPORTED_SPE_TAXED_TAX" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="3">가 산 세 액 계</td>
                <td>(25)</td>
                <td bgcolor=#a9a9a9>
                </td>
                <td>(자)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.ADD_TAX_TOT_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="5">차감 . 가감하여 납부할 세액(환급받을 세액) [(다)-(라)-(마)-(바)-(사)-(아)+(자)]</td>
                <td>(26)</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.RED_ADD_NAPBU_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td colspan="5">총괄 납부 사업자가 납부할 세액 (환급받을 세액)</td>
                <td></td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.TOTAL_NAPBU_TAX" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>②국세환급금 계좌신고</td>
                <td>거래은행</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.BANK_NAME"/>
                </td>
                <td>은행/지점</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.BANK_SUBSI"/>
                </td>
                <td>계좌번호</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.BANK_KONTO"/>
                </td>
            </tr>
            <tr>
                <td colspan="2">③폐   업   신   고</td>
                <td>폐 업 일</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.CLOSE_DATE">
                </td>
                <td>폐업 사유</td>
                <td colspan="2">
                    <input type="text" class="form-control input-sm" ng-model="mg.CLOSE_REPORT">
                </td>
            </tr>
            <tr>
                <td colspan="5">④과  세  표  준 명  세</td>
            </tr>
            <tr>
                <td colspan="2">업태</td>
                <td>종목</td>
                <td>생산요소</td>
                <td>업종코드</td>
                <td>금액</td>
            </tr>
            <tr>
                <td>(27)</td>
                <td colspan="2">
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_NAME_1">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_ITEM_1">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_PROD_1">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_CODE_1">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.TAX_STD_BUS_AMT_1" readonly ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>(28)</td>
                <td colspan="2">
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_NAME_2">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_ITEM_2">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_PROD_2">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_CODE_2">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.TAX_STD_BUS_AMT_2" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>(29)</td>
                <td colspan="2">
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_NAME_3">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_ITEM_3">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_PROD_3">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_CODE_3">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.TAX_STD_BUS_AMT_3" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>(30)</td>
                <td colspan="2">수입금액 제외</td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_ITEM_4">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_PROD_4">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" ng-model="mg.TAX_STD_BUS_CODE_4">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-change = "calc()" ng-model="mg.TAX_STD_BUS_AMT_4" ui-number-mask="0"/>
                </td>
            </tr>
            <tr>
                <td>(31)</td>
                <td colspan="2">합 계</td>
                <td>
                </td>
                <td>
                </td>
                <td>
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" ng-model="mg.TAX_STD_BUS_AMT_5" readonly ui-number-mask="0"/>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>