<div class="row">
    <div class="col-xs-12">
        <div class="col-xs-11">
            <a ng-click="saveDocument()">
                <button class="btn btn-primary" type="button">
                    <span class="glyphicon glyphicon-floppy-saved"> 저장하기</span>
                </button>
            </a>
            <a ng-click="createDocument()">
                <button class="btn btn-warning" type="button">
                    <span class="glyphicon glyphicon-download-alt"> 자료불러오기</span>
                </button>
            </a>
            <a ng-click="deleteDocument()">
                <button class="btn btn-danger" type="button">
                    <span class="glyphicon glyphicon-refresh"> 자료초기화</span>
                </button>
            </a>
            <!--
                        <a ng-click="getDocument()">
                            <button class="btn btn-danger" type="button">
                                <span class="glyphicon glyphicon-refresh"> 다시불러오기</span>
                            </button>
                        </a>
            -->
            <a target="_self" ng-click="getExcel()">
                <button class="btn btn-success" type="button">
                    <span class="glyphicon glyphicon-stats"> 엑셀내보내기</span>
                </button>
            </a>
        </div>
    </div>
</div>

    <div class="container">

        <div class="page-header text-center">
            <p class="text-primary lead">공제받지 못할 매입세액 명세서</p>
        </div>

        <div ng-class="alert_class[status]" ng-bind="alertmessage"></div>

        <p>공제받지 못할 매입세액 명세 </p>
        <div class="row">
            <table class="table">
                <thead>
                <style>
                    th {text-align: center; vertical-align: middle;}
                </style>

                    <tr>
                        <th rowspan="2"> 매입세액 불공제 사유</th>
                        <th colspan="3">세금계산서</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>매수</th>
                        <th>공급가액</th>
                        <th>매입세액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>① 필요적 기재사항 누락 등</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_1_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_1_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_1_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>② 사업과 직접 관련 없는 지출</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_2_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_2_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_2_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>③ 비영업용 소형승용자동차 구입.유지 및 임차</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_3_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_3_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_3_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>④ 접대비 및 이와 유사항 비용 관련</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_4_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_4_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_4_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>⑤ 면세사업등 관련</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_5_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_5_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_5_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>⑥ 토지의 자본적 지출 관련</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_6_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_6_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_6_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>⑦ 사업자등록 전 매입세액</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_7_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_7_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_7_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>⑧ 금.구리 스크랩 거래계좌 미사용 관련 매입세액</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_8_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_8_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_8_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                    <tr>
                        <td>⑨ 합계</td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_TOTAL_CNT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_TOTAL_AMT" ui-number-mask="0" readonly>
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_TAX_TOTAL_TAX" ui-number-mask="0" readonly>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>공통매입세액 안분 계산 명세</p>
        <div class="row">
            <table class="table">
                <style>
                    th {text-align: center;}
                    td {text-align: right;}
                </style>
                <tbody>
                <tr>
                    <th></th>
                    <th colspan="2">과세.면세사업등 공통매입</th>
                    <th>⑫</th>
                    <th>⑬</th>
                    <th>불공제 매입세액</th>
                </tr>
                <tr>
                    <th></th>
                    <th>⑩공급가액</th>
                    <th>⑪세액</th>
                    <th>총공급가액 등</th>
                    <th>면세공급가액 등</th>
                    <th>[⑪x(⑬÷⑫)]</th>
                </tr>
                <td>1</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="1" ng-change="calc()" ng-model="mg.PURCH_AN_1_ACT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="2" ng-change="calc()" ng-model="mg.PURCH_AN_1_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="3" ng-change="calc()" ng-model="mg.PURCH_AN_1_AMT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="4" ng-change="calc()" ng-model="mg.PURCH_AN_1_NOTAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="5" ng-model="mg.PURCH_AN_1_BULTAX" ui-number-mask="0">
                </td>
                <tr>
                <td>2</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="6" ng-change="calc()" ng-model="mg.PURCH_AN_2_ACT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="7" ng-change="calc()" ng-model="mg.PURCH_AN_2_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="8" ng-change="calc()" ng-model="mg.PURCH_AN_2_AMT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="9" ng-change="calc()"  ng-model="mg.PURCH_AN_2_NOTAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="10" ng-model="mg.PURCH_AN_2_BULTAX" ui-number-mask="0">
                </td>
                </tr>
                <tr>
                <td>3</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="11" ng-change="calc()" ng-model="mg.PURCH_AN_3_ACT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="12" ng-change="calc()" ng-model="mg.PURCH_AN_3_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="13" ng-change="calc()" ng-model="mg.PURCH_AN_3_AMT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="14" ng-change="calc()" ng-model="mg.PURCH_AN_3_NOTAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="15" ng-model="mg.PURCH_AN_3_BULTAX" ui-number-mask="0">
                </td>
                </tr>
                <td>4</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="16" ng-change="calc()" ng-model="mg.PURCH_AN_4_ACT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="17" ng-change="calc()" ng-model="mg.PURCH_AN_4_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="18" ng-change="calc()" ng-model="mg.PURCH_AN_4_AMT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="19" ng-change="calc()" ng-model="mg.PURCH_AN_4_NOTAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="20" ng-model="mg.PURCH_AN_4_BULTAX" ui-number-mask="0">
                </td>
                <tr>
                <td>5</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="21" ng-change="calc()" ng-model="mg.PURCH_AN_5_ACT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="22" ng-change="calc()" ng-model="mg.PURCH_AN_5_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="23" ng-change="calc()" ng-model="mg.PURCH_AN_5_AMT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="24" ng-change="calc()" ng-model="mg.PURCH_AN_5_NOTAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="25" ng-model="mg.PURCH_AN_5_BULTAX" ui-number-mask="0">
                </td>
                </tr>
                <tr>
                    <td>합계</td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_AN_TOTAL_ACT" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_AN_TOTAL_TAX" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_AN_TOTAL_AMT" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_AN_TOTAL_NOTAX" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_AN_TOTAL_BULTAX" ui-number-mask="0" readonly>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>공통매입세액의 정산 명세</p>
        <div class="row">
            <table class="table">
                <style>
                    th {text-align: center;}
                </style>
                <tbody>
                <tr>
                    <th></th>
                    <th>⑮총공통매입<br>
                        세액</th>
                    <th>(16)면세사업등<br>
                        확정비율</th>
                    <th>(17)불공제 매입세액<br>
                        총액 [(15)x(16)]</th>
                    <th>(18)기 불공제<br>
                        매입세액</th>
                    <th>(19)가산 또는 공제되는<br>
                        매입세액</th>
                </tr>
                <td>1</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="31" ng-change="calc()" ng-model="mg.PURCH_COM_1_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="32" ng-change="calc()" ng-model="mg.PURCH_COM_1_RATE" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="33" ng-change="calc()" ng-model="mg.PURCH_COM_1_BULTOT" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="34" ng-change="calc()" ng-model="mg.PURCH_COM_1_BULTAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="35" ng-change="calc()" ng-model="mg.PURCH_COM_1_GONTAX" ui-number-mask="0">
                </td>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="36" ng-change="calc()" ng-model="mg.PURCH_COM_2_TAX" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="37" ng-change="calc()" ng-model="mg.PURCH_COM_2_RATE" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="38" ng-change="calc()" ng-model="mg.PURCH_COM_2_BULTOT" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="39" ng-change="calc()" ng-model="mg.PURCH_COM_2_BULTAX" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="40" ng-change="calc()" ng-model="mg.PURCH_COM_2_GONTAX" ui-number-mask="0">
                    </td>
                </tr>
                <tr>
                    <td>합계</td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_COM_TOTAL_TAX" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_COM_TOTAL_RATE" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_COM_TOTAL_BULTOT" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_COM_TOTAL_BULTAX" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_COM_TOTAL_GONTAX" ui-number-mask="0" readonly>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>납부세액 또는 환급세액 재계산 명세</p>
        <div class="row">
            <table class="table">
                <style>
                    th {text-align: center;}
                </style>
                <tbody>
                <tr>
                    <th></th>
                    <th>(20)해당 재화의<br>
                        매입세액</th>
                    <th>(21)경감률[1-(5/100 또는<br>
                        25/100x 경과된<br>
                        과세기간의 수)]</th>
                    <th>(22)증가 또는 감소된<br>
                        면세공급가액(사용 면적)<br>
                        비율</th>
                    <th>(23)가산 또는 공제되는<br>
                        매입세액<br>
                        [(20)x(21)x(22)]</th>
                </tr>
                <td>1</td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="50" ng-change="calc()" ng-model="mg.PURCH_ASST_1_TAX" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="51" ng-change="calc()" ng-model="mg.PURCH_NEG_1_RATE" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="52" ng-change="calc()" ng-model="mg.PURCH_POS_1_RATE" ui-number-mask="0">
                </td>
                <td>
                    <input type="text" class="form-control input-sm text-right" tabindex="53" ng-change="calc()" ng-model="mg.PURCH_GON_1_TAX" ui-number-mask="0">
                </td>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="54" ng-change="calc()" ng-model="mg.PURCH_ASST_2_TAX" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="55" ng-change="calc()" ng-model="mg.PURCH_NEG_2_RATE" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="56" ng-change="calc()" ng-model="mg.PURCH_POS_2_RATE" ui-number-mask="0">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" tabindex="57" ng-change="calc()" ng-model="mg.PURCH_GON_2_TAX" ui-number-mask="0">
                    </td>
                </tr>
                <tr>
                    <td>합계</td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_ASST_TOTAL_TAX" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_NEG_TOTAL_RATE" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_POS_TOTAL_RATE" ui-number-mask="0" readonly>
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm text-right" ng-model="mg.PURCH_GON_TOTAL_TAX" ui-number-mask="0" readonly>
                    </td>
                </tr>
        </div>
