<div class="row well">
    <table class="table">
        <tbody>
        <tr>
            <td>보고서</td>
            <td>1단계 서식 작성</td>
            <td>2단계 서식 작성</td>
            <td>3단계 서식 작성</td>
            <td>4단계 신고 파일</td>
        </tr>
        <tr>
            <td><table class="table1">
                    <tr>
                        <td><a href="/V104">매출처별 세금계산서 합계표</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V105">매입처별 세금계산서 합계표</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V104-1">매출처별 계산서 합계표</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V105-1">매입처별 계산서 합계표</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
            </Table></td>
            <td><table class="table2">
                    <tr>
                        <td><a href="/V106">영세율첨부서류 제출명세서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V117">신용카드매출전표 등 발행금액집계표</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/">부동산임대공급가액명세서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V141">수출실적명세서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V153">공제받지못할 매입세액</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V164">신용카드매출전표 등 수취명세서(갑,을)</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V177">영세율매출 명세서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V112">대손세액공제(변제)신고서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V149">건물등 감가상각자산 취득 명세서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
                    <tr>
                        <td><a href="/V174">내국신용장.구매확인서 전자발급명세서</a></td>
                        <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                    </tr>
            </Table></td>
            <td><table class="table3">
                <tr>
                    <td><a href="/V101">부가가치세 신고서</a></td>
                    <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                </tr>
            </Table></td>
            <td><table class="table4">
                <tr>
                    <td><a href="/">사업자단위과세 사업장별</a></td>
                    <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                </tr>
            </Table></td>
            <td><table class="table4">
                <tr>
                    <td><a href="/">신고 파일 생성</a></td>
                    <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
                </tr>
            </Table></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        </tbody>
    </table>
</div>