<div class="row well">
    <table class="table">
        <tbody>
        <tr>
            <td><a href="/">1. 일반과세자 부가가치세 신고서</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V104">2. 매출처별 세금계산서 합계표*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V105">3. 매입처별 세금계산서 합계표*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V104-1">4. 매출처별 계산서 합계표*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V105-1">5. 매입처별 계산서 합계표*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V106">6. 영세율첨부서류 제출명세서*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V117">7. 신용카드매출전표 등 발행금액집계표*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/">8. 부동산임대공급가액명세서</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V141">9. 수출실적명세서*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/">10. 공제받지못할 매입세액</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V164">11. 신용카드매출전표 등 수취명세서(갑,을)*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/">12. 사업자단위과세 사업장별.</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/">13. 전자세금계산서 교부세액공제신고서</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V177">14. 영세율매출 명세서*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        <tr>
            <td><a href="/V112">16. 대손세액공제(변제)신고서*</a></td>
            <!-- <td><span class="glyphicon glyphicon-time"></span></td> //-->
        </tr>
        </tbody>
    </table>
</div>