<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>공제받지 못할 매입세액 명세서</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="file:///C:/Users/KC/Desktop/BSEVAT/javascript_module/edittable/editablegrid-2.0.1/editablegrid-2.0.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <p class="text-primary lead">공제받지 못할 매입세액 명세서</p>
        </div>

        <p>1. 제출자 인적사항</p>

        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                        <th>상호 (법인명)</th>
                        <th>성명 (대표자)</th>
                        <th>사업자등록번호</th>

                    </tr>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                </tbody>
            </table>
        </div>
        <p>2. 공제받지 못할 매입세액 명세 </p>
        <div class="row">
            <table class="table">
                <thead>
                <style>
                    th {text-align: center; vertical-align: middle;}
                </style>

                    <tr>
                        <th rowspan="2"> 매입세액 불공제 사유</th>
                        <th colspan="3">세금계산서</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th>매수</th>
                        <th>공급가액</th>
                        <th>매입세액</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>①필요적 기재사항 누락 등</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>②사업과 직접 관련 없는 지출</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>③비영업용 소형승용자동차 구입.유지 및 임차</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>④접대비 및 이와 유사항 비용 관련</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>⑤면세사업등 관련</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>⑥토지의 자본적 지출 관련</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>⑦사업자등록 전 매입세액</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>⑧금.구리 스크랩 거래계좌 미사용 관련 매입세액</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>⑨합계</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p> 3. 공통매입세액 안분 계산 명세</p>
        <div class="row">
            <table class="table">
                <style>
                    th {text-align: center;}
                    td {text-align: right;}
                </style>
                <tbody>
                <tr>
                    <th></th>
                    <th colspan="2">과세.면세사업등 공통매입</th>
                    <th>⑫</th>
                    <th>⑬</th>
                    <th>불공제 매입세액</th>
                </tr>
                <tr>
                    <th></th>
                    <th>⑩공급가액</th>
                    <th>⑪세액</th>
                    <th>총공급가액 등</th>
                    <th>면세공급가액 등</th>
                    <th>[⑪x(⑬÷⑫)]</th>
                </tr>
                <td>1</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <tr>
                <td>2</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                </tr>
                <tr>
                <td>3</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                </tr>
                <td>4</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <tr>
                <td>5</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                </tr>
                <tr>
                    <td>합계</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p> 4. 공통매입세액의 정산 명세</p>
        <div class="row">
            <table class="table">
                <style>
                    th {text-align: center;}
                </style>
                <tbody>
                <tr>
                    <th></th>
                    <th>⑮총공통매입<br>
                        세액</th>
                    <th>(16)면세사업등<br>
                        확정비율</th>
                    <th>(17)불공제 매입세액<br>
                        총액 [(15)x(16)]</th>
                    <th>(18)기 불공제<br>
                        매입세액</th>
                    <th>(19)가산 또는 공제되는<br>
                        매입세액</th>
                </tr>
                <td>1</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                </tr>
                <tr>
                    <td>합계</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <p>  5. 납부세액 또는 환급세액 재계산 명세</p>
        <div class="row">
            <table class="table">
                <style>
                    th {text-align: center;}
                </style>
                <tbody>
                <tr>
                    <th></th>
                    <th>(20)해당 재화의<br>
                        매입세액</th>
                    <th>(21)경감률[1-(5/100 또는<br>
                        25/100x 경과된<br>
                        과세기간의 수)]</th>
                    <th>(22)증가 또는 감소된<br>
                        면세공급가액(사용 면적)<br>
                        비율</th>
                    <th>(23)가산 또는 공제되는<br>
                        매입세액<br>
                        [(20)x(21)x(22)]</th>
                </tr>
                <td>1</td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <td>
                    <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                </td>
                <tr>
                    <td>2</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                </tr>
                <tr>
                    <td>합계</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                </tr>
        </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="editablegrid-2.0.1.js"></script>








</body>

</html>