<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>대손세액공제(변제)신고서</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="file:///C:/Users/KC/Desktop/BSEVAT/javascript_module/edittable/editablegrid-2.0.1/editablegrid-2.0.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <p class="text-primary lead">대손세액공제(변제)신고서</p>
        </div>

        <p>1. 사업자</p>

        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                        <td>상호 (법인명)</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>등록 번호</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                    <tr>
                        <td>성 명</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>사업장 소재지</td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p>2. 대손세액 계산신고 내용</p>
        <div class="row">
            <table class="table">
                <thead>
                <style>
                    th {text-align : center;}
                </style>
                    <tr>
                        <th rowspan="2">대손확정<br>연 월 일</th>
                        <th rowspan="2">대 손<br>금 액</th>
                        <th rowspan="2">공제율<br>(10/110)</th>
                        <th rowspan="2">대 손<br>세 액</th>
                        <th colspan="3">공 급 받 는 자</th>
                        <th rowspan="2">대 손 사 유</th>
                    </tr>
                    <tr>
                        <th>상 호</th>
                        <th>성 명</th>
                        <th>등록번호</th>
                    </tr>

                </thead>
            </table>
        </div>

        <p>3. 변제세액 계산신고 내용</p>
        <div class="row">
            <table class="table">
                <thead>
                <style>
                    th {text-align : center;}
                </style>
                <tr>
                    <th rowspan="2">변 제<br>연 월 일</th>
                    <th rowspan="2">변 제<br>금 액</th>
                    <th rowspan="2">공제율<br>(10/110)</th>
                    <th rowspan="2">변 제<br>세 액</th>
                    <th colspan="3">공 급 자</th>
                    <th rowspan="2">변 제 사 유</th>
                </tr>
                <tr>
                    <th>상 호</th>
                    <th>성 명</th>
                    <th>등록번호</th>
                </tr>

                </thead>
            </table>
        </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="editablegrid-2.0.1.js"></script>








</body>

</html>