<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>부동산임대 공급가액 명세서</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="grid.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
    <link href="file:///C:/Users/KC/Desktop/BSEVAT/javascript_module/edittable/editablegrid-2.0.1/editablegrid-2.0.1.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="container">

        <div class="page-header text-center">
            <p class="text-primary lead">부동산임대 공급가액 명세서</p>
        </div>

        <div class="row">
            <table class="table">
                <tbody>
                    <tr>
                    <td>① 부동산소재지</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>② 상호 (소유자 성명)</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    </tr>
                    <tr>
                    <td>③ 사업자등록번호</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    <td>④ 사업자단위과세자<br>
                        종된 사업장 일련번호</td>
                    <td>
                        <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                    </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                <style>
                    th {text-align: center; vertical-align: middle;}
                </style>

                    <tr>
                        <th colspan="3"> 임대사항</th>
                        <th rowspan="2">⑧ 임대면적<br>
                            (㎡)</th>
                        <th colspan="7"> 임차인 인정사항 및 임대차 계약내용</th>
                        <th colspan="3"> 임대수입금액 (과세표준)</th>
                    </tr>
                    <tr>
                        <th>⑤ 동</th>
                        <th>⑥ 층</th>
                        <th>⑦ 호</th>
                        <th></th>
                        <th>⑨ 상  호<br>
                            (성명)</th>
                        <th>⑩ 사업자등록번호<br>
                            (주민등록번호)</th>
                        <th>⑪<br>
                            일주일</th>
                        <th>⑫<br>
                            갱신일</th>
                        <th>⑬<br>
                            퇴거일</th>
                        <th>⑭<br>
                            보증금</th>
                        <th>⑮<br>
                            월임대료</th>
                        <th>(16)<br>
                            합  계</th>
                        <th>(17)<br>
                            보증금<br>
                            이자(계)</th>
                        <th>(18)<br>
                            월입대료<br>
                            (계)</th>
                    </tr>
                    <tr>
                        <td colspan="2">합  계</td>
                        <td></td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>
                        <td>
                            <input type="text" class="form-control input-sm" placeholder="Placeholder text">
                        </td>

                    </tr>
                </thead>
            </table>
        </div>
    <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="editablegrid-2.0.1.js"></script>








</body>

</html>