# V164 신용카드매출전표등수취명세서
title = "VAT164"
[V164]
# 매출처별 세금계산서 합계표의 화면을 위한 테이블 정의
# 화면을 구성하게되는 입력폼이나 출력되는 대상을 정하는 것과 동일합니다.
schema = [
    ["VATKEY","String","true"],             #Main Key. << 모든 정의에 들어 있어야 함. 세번째 항목은 Key 값 유무.
    ["COMPANY_CODE","String"],       #회사코드
    ["YEAR","String"],               #년도
    ["VATQT","String"],              #신고분기
    ["VATRPTTYPE","String"],         #신고타입

    ["TOTAL_COUNT","Number"],                   #합계 건수
    ["TOTAL_AMOUNT","Number"],                   #공급가액 합계
    ["TOTAL_TAX","Number"],                   #세액 합계

    ["GE_TOTAL_COUNT","Number"],                   #합계 건수
    ["GE_TOTAL_AMOUNT","Number"],                   #공급가액 합계
    ["GE_TOTAL_TAX","Number"],                   #세액 합계

    ["GE_CASH_COUNT","Number"],                   #현금영수증 건수
    ["GE_CASH_AMOUNT_TOTAL","Number"],                   #현금영수증 공급가액 합계
    ["GE_CASH_TAX_TOTAL","Number"],                   #현금영수증 세액 합계
    ["GE_DRIVER_COUNT","Number"],                   #화물운전자복지카드 건수
    ["GE_DRIVER_AMOUNT_TOTAL","Number"],                   #화물운전자복지카드 공급가액 합계
    ["GE_DRIVER_TAX_TOTAL","Number"],                   #화물운전자복지카드 세액 합계
    ["GE_BUSINESS_CARD_COUNT","Number"],                   #사업용신용카드 건수
    ["GE_BUSINESS_CARD_AMOUNT_TOTAL","Number"],                   #사업용신용카드 공급가액 합계
    ["GE_BUSINESS_CARD_TAX_TOTAL","Number"],                   #사업용신용카드 세액 합계
    ["GE_CARD_COUNT","Number"],                   #기타 신용카드 건수
    ["GE_CARD_AMOUNT_TOTAL","Number"],                   #기타 신용카드 공급가액 합계
    ["GE_CARD_TAX_TOTAL","Number"],                   #기타 신용카드 세액 합계


    ["CASH_COUNT","Number"],                   #현금영수증 건수
    ["CASH_AMOUNT_TOTAL","Number"],                   #현금영수증 공급가액 합계
    ["CASH_TAX_TOTAL","Number"],                   #현금영수증 세액 합계
    ["DRIVER_COUNT","Number"],                   #화물운전자복지카드 건수
    ["DRIVER_AMOUNT_TOTAL","Number"],                   #화물운전자복지카드 공급가액 합계
    ["DRIVER_TAX_TOTAL","Number"],                   #화물운전자복지카드 세액 합계
    ["BUSINESS_CARD_COUNT","Number"],                   #사업용신용카드 건수
    ["BUSINESS_CARD_AMOUNT_TOTAL","Number"],                   #사업용신용카드 공급가액 합계
    ["BUSINESS_CARD_TAX_TOTAL","Number"],                   #사업용신용카드 세액 합계
    ["CARD_COUNT","Number"],                   #기타 신용카드 건수
    ["CARD_AMOUNT_TOTAL","Number"],                   #기타 신용카드 공급가액 합계
    ["CARD_TAX_TOTAL","Number"],                   #기타 신용카드 세액 합계

    ["FA_TOTAL_COUNT","Number"],                   #합계 건수
    ["FA_TOTAL_AMOUNT","Number"],                   #공급가액 합계
    ["FA_TOTAL_TAX","Number"],                   #세액 합계

    ["FA_CASH_COUNT","Number"],                   #고정자산 현금영수증 건수
    ["FA_CASH_AMOUNT_TOTAL","Number"],                   #고정자산 현금영수증 공급가액 합계
    ["FA_CASH_TAX_TOTAL","Number"],                   #고정자산 현금영수증 세액 합계

    ["FA_DRIVER_COUNT","Number"],                   #고정자산 화물운전자복지카드 건수
    ["FA_DRIVER_AMOUNT_TOTAL","Number"],                   #고정자산 화물운전자복지카드 공급가액 합계
    ["FA_DRIVER_TAX_TOTAL","Number"],                   #고정자산 화물운전자복지카드 세액 합계

    ["FA_BUSINESS_CARD_COUNT","Number"],                   #고정자산 사업용신용카드 건수
    ["FA_BUSINESS_CARD_AMOUNT_TOTAL","Number"],                   #고정자산 사업용신용카드 공급가액 합계
    ["FA_BUSINESS_CARD_TAX_TOTAL","Number"],                   #고정자산 사업용신용카드 세액 합계

    ["FA_CARD_COUNT","Number"],                   #고정자산 기타 신용카드 건수
    ["FA_CARD_AMOUNT_TOTAL","Number"],                   #고정자산 기타 신용카드 공급가액 합계
    ["FA_CARD_TAX_TOTAL","Number"],                   #고정자산 기타 신용카드 세액 합계

    ["CARD_TYPE","String"],                   #카드구분



    [
      ["SEQN","Number"],                   #일련번호
      ["CARD_NUMBER","String"],                   #카드회원번호
      ["BUSINESS_NO","String"],                   #공급자(가맹점)사업자등록번호
      ["BUSINESS_NAME","String"],                   #가맹점 상호
      ["SUPPLY_AMOUNT","Number"],                   #공급가액
      ["TAX_AMOUNT","Number"],                   #세액
      ["MISSED","String"],                   #누락구분
      ["CATEGORY_CODE","String"],                   #계산서 유형 코드
      ["CATEGORY_Name","String"],                   #계산서 유형 명
      ["CNT","Number"],                   #거래건수
    ]

]

# 화면상의 계산 식을 위한 공간 / 자동화 하기 위해 고민이 필요함.

# MSSQL의 NAV Table DocumentVATEntry 에서 가져올 대상을 지정합니다. (SQL 컬럼명을 지정합니다.)
# V164 (신용카드매출전표등수취명세서)에서 사용 할 MSSQL 컬럼명을 입력합니다.
Entries = [
"BSE_VAT Category Code",
"BSE_Pay_Bill CorpIndv Type",
"BSE_ETAX Complete issue",
"BSE_Credit Card Number",
"BSE_Editable Tot Actual Amount",
"BSE_Editable Tot VAT Amount",
"BSE_VAT Registration No_",
"BSE_VAT Name"
]

# NAV 쿼리를위한 조건을 입력합니다.
[[V164.Condition]]
key = "BSE_VAT Type"
value = "0"
value_type = "Integer"

[[V164.Condition]]
key = "BSE_VAT Category Code"
value = [
"P180","P190","P200","P211","P212","P213","P214","P311","P312","P313","P314","P321","P322","P323","P324","P220",
"P230","P240","P251","P252","P253","P254","P261","P262","P331","P332","P333","P334","P341","P342","P343","P344"
]
value_type = "String"