# V174 내국신용장구매확인서전자발급명세서
title = "VAT174"
[V174]
# 매출처별 세금계산서 합계표의 화면을 위한 테이블 정의
# 화면을 구성하게되는 입력폼이나 출력되는 대상을 정하는 것과 동일합니다.
schema = [
    ["VATKEY","String","true"],      #Main Key. << 모든 정의에 들어 있어야 함. 세번째 항목은 Key 값 유무.
    ["COMPANY_CODE","String"],       #회사코드
    ["YEAR","String"],               #년도
    ["VATQT","String"],              #신고분기
    ["VATRPTTYPE","String"],         #신고타입

    ["TOT_COUNT","Number"],          #합계 건수
    ["TOT_AMOUNT","Number"],         #합계 금액(원)
    ["TOT_REMARK","String"],         #합계 비고

    ["LC_COUNT","Number"],           #내국신용장 건수
    ["LC_AMOUNT","Number"],          #내국신용장 금액(원)
    ["LC_REMARK","String"],          #내국신용장 비고

    ["PUR_COUNT","Number"],          #구매확인서 건수
    ["PUR_AMOUNT","Number"],         #구매확인서 금액(원)
    ["PUR_REMARK","String"],         #구매확인서 비고

    [
      ["LINE_SEQN","Number"],         #일련번호
      ["LINE_TYPE","String"],         #구분
      ["LINE_DOC_NO","String"],       #서류번호
      ["LINE_ISSUE_DATE","Date"],     #발급일
      ["LINE_VAT_REG_NO","String"],   #공급받는 자의 사업자등록번호
      ["LINE_AMOUNT","Number"],       #금액(원)
      ["LINE_REMARK","String"]        #비고
    ]
]

# 화면상의 계산 식을 위한 공간 / 자동화 하기 위해 고민이 필요함.

# MSSQL의 NAV Table DocumentVATEntry 에서 가져올 대상을 지정합니다. (SQL 컬럼명을 지정합니다.)
# V174 (내국신용장.구매확인서전자발급명세서)에서 사용 할 MSSQL 컬럼명을 입력합니다.
Entries = [
"BSE_VAT Category Code",
"BSE_Pay_Bill CorpIndv Type",
"BSE_ETAX Complete issue",
"BSE_Credit Card Number",
"BSE_Editable Tot Total Amount",
"BSE_Document Name",
"BSE_Export Declaration No",
"BSE_Document Issuing Date",
"BSE_VAT Registration No_",
"BSE_Zero Rating VAT Remark",
"BSE_VAT Name"
]

# NAV 쿼리를위한 조건을 입력합니다.

[[V174.Condition]]
key = "BSE_VAT Type"            #매입/매출 구분
value = "1"                     #매출
value_type = "Integer"

[[V174.Condition]]
key = "BSE_Closing"             #마감 여부
value = "1"                     #마감
value_type = "Integer"

[[V174.Condition]]
key = "BSE_VAT Category Code"   #부가세 유형
value = ["S020"]                #세금계산서영세율
value_type = "String"

[[V174.Condition]]
key = "BSE_ZeroRating Type"     #영세율 구분
value = "2"                     #영세율
value_type = "Integer"

[[V174.Condition]]
key = "BSE_Document Name"       #서류명
value = ["4","5"]               #내국신용장,구매확인서
value_type = "Integer"